<div th:fragment="header">
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">PENDA MAIL APP</a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" th:href="@{/messagerie/messages/home}">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" th:href="@{/messagerie/messages/listeMessage(id=0)}">Messages</a>
            </li>
        </ul>
        <form class="d-flex">
            <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    </nav>
</div>
