<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head th:replace="main-layout :: head"> </head>
  <body>
    <header th:replace="main-layout :: header"></header>

    <div class="container">
      <div class="row mt-2">
        <div class="col m-2 border border-1 border-top-info border-left-info rounded">
          <div class="row">
            <div class="col-3">
              <i class="m-3 fa-solid fa-envelope fa-8x text-info"></i>
            </div>
            <div class="col-9 p-3">
              <h4>nombre de mails</h4>
              <span class="display-2">42</span>
            </div>
          </div>
        </div>
        <div class="col m-2 border border-1 border-left-info rounded">
          <div class="row" >
            <div class="col-3 ">
              <i class=" m-3 fa-solid fa-user fa-8x text-warning"></i>
            </div>
            
            <div class="col-9 p-3">
              <h4>nombre d'utilisateurs</h4>
              <span class=" display-2">25</span>
            </div>
          </div>
          
        </div>
      </div>

      <div class="row mt-4">
        <div class="col m-2 border border-1 border-left-info rounded">
          <h4>nombre de personnes</h4>
        </div>
        <div class="col m-2 border border-1 border-left-info rounded">
          <h4>Liste de diffusions</h4>
        </div>
      </div>
    </div>

    <footer th:replace="main-layout :: footer"></footer>
  </body>
</html>
