<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="main-layout :: head">

</head>

<body>

  <header th:replace="main-layout :: header"> </header>
  <div class="container-fluid mt-3">
    <div class="row">
      
      <div th:replace="content-layout :: content-menu">

      </div>
      <div class="col-9">
        <span th:text="${selectedMessage?.body}"></span>
      </div>
    </div>
  </div>
  <footer th:replace="main-layout :: footer"> </footer>

</body>

</html>