
    <div th:fragment="content-menu" class="col-3" id="contentMenu">
        <ul th:if="${PerMonth==true}" class="list-unstyled">
           
            
            <li class="border-top pt-1 pb-1" th:each= "message: ${messages}" th:classappend="${message.id == selectedMessage?.id ? 'selected-item' : ''}">
                <a th:if="${index != null}"  class="text-decoration-none" th:href="@{/messagerie/messages/liste-message-par-periode(index=${index},id=${message.id})}">
                    <span id="event" th:text="${message.object}"></span>
                </a>
                <a th:if="${dayNumber != null && selectedMonth != null}" class="text-decoration-none" 
                   th:href="@{/messagerie/messages/liste-message-par-periode(id=${message.id}, selectedMonth=${selectedMonth}, dayNumber=${dayNumber})}">
                    <span id="event" th:text="${message.object}"></span>
                </a>
            </li>
            
        </ul>
        <ul th:unless="${PerMonth==true}" class="list-unstyled">
            <li class="border-top pt-1 pb-1" th:each= "message: ${messages}" th:classappend="${message.id == selectedMessage?.id ? 'selected-item' : ''}">
                <a  class="ms-2" th:href="@{/messagerie/messages/liste-message(id=${message.id})}">
                    <span id="event" th:text="${message.object}"></span>
                </a>
            </li>
            
        </ul>
    </div>

    