<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="./layouts/main-layout :: head"> </head>

<body>
    <header th:replace="./layouts/header :: header"></header>

    <div th:fragment="content-menu" class="col-3 ">
        <ul class="list-unstyled">
           
            
            <li class="border-top pt-1 pb-1" th:each= "message: ${messages}">
                <a  class="text-decoration-none" th:href="@{/messagerie/messages/listeMessage(id=${message.id})}">
                    <span th:text="${message.object}"></span>
                </a>
            </li>
            
        </ul>
    </div>

    <footer th:replace="./layouts/main-layout :: footer"></footer>
</body>

</html>