<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:replace="./layouts/main-layout :: head"> </head>

    <body>
        <header th:replace="./layouts/header :: header"></header>

        <div class="container">
            <div class="row alert text-warning">
                <h3>
                    <span>Liste de contacts de </span>
                    <span th:if="${adresseDto.personneDto !=null}" th:text="${adresseDto.personneDto.nom}+' ('+ ${adresseDto.id}+')'"></span>
                    <span th:if="${adresseDto.listeDto !=null}" th:text="${adresseDto.id}+ '(liste de diffusion)'"></span>
                </h3>
            </div>
            <ol th:if="${adresseDto.personneDto !=null}">
                <li th:each="contact:${adresseDto.adresseContactDtoList}">
                    <a  class="text-decoration-none" th:href="@{/messagerie/adresses/detail-user(id=${contact?.id})}"> <span th:text="${contact?.id}"></span></a>
                </li>
            </ol>
            
            <div th:if="${adresseDto.listeDto !=null}">
                <ol th:if="${adresseDto.personneDto !=null}">
                <li th:each="contact:${adresseDto.adresseContactDtoList}">
                    <a  class="text-decoration-none" th:href="@{/messagerie/adresses/detail-user(id=${contact?.id})}"> <span th:text="${contact?.id}"></span></a>
                </li>
            </ol>

            </div>   
            </div>
    </body>
</html>
