<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:replace="./layouts/main-layout :: head">

    </head>

    <body>

        <header th:replace="./layouts/header :: header"> </header>
        <div class="container-fluid mt-3 ">
            <div class="row">

                <div th:replace="./webHtml/content-layout :: content-menu"></div>
                <div class="col-9" id="contentDetail">
                    <div  th:if="${selectedMessage} != null">
                        <div class="row">
                            <div>
                                 
                                <label><span class="display-7" th:text="${selectedMessage?.object}"></span></label>
                            </div>
                             <div class="col-1">
                                <span><i class="fa-solid fa-user fa-4x"></i></span>
                            </div>
                            <div class="col-11">
                            <div>
                                <label><span class="text-secondary small"> Date:</span> <span class="text-secondary small" th:text="${selectedMessage?.date}"></span></label>
                            </div>
                            <div>
                                <label><span class=""> De:</span> <a  class="text-decoration-none" th:href="@{/messagerie/adresses/detail-user(id=${selectedMessage?.expediteurDto?.id})}"> <span  th:text="${selectedMessage?.expediteurDto?.id}"></span></a></label>
                            </div>

                            <div>
                                <label> <span class="">A:</span> </label>
                                <div class="d-inline" th:each="destinataire:${selectedMessage.destinataireDtoList}" >
                                    <a  class="text-decoration-none" th:href="@{/messagerie/adresses/detail-user(id=${destinataire.id})}" > <span th:text="${destinataire.id}">&nbsp;&nbsp;</span></a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row mt-3">
                            <span th:text="${selectedMessage?.body}"></span>
                        </div>
                    </div>
                    <div th:unless="${selectedMessage} != null">
                        <span class="text-warning mt-5 ms-3">Aucun message selectionné !</span>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <footer th:replace="./layouts/main-layout :: footer"> </footer>
    </body>

</html>