<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:replace="./layouts/main-layout :: head">

    </head>

    <body>

        <header th:replace="./layouts/header :: header"> </header>
        <div class="container-fluid mt-3 ">
            <div class="row">

                <div th:replace="./webHtml/content-layout :: content-menu"></div>
                <div class="col-9" id="contentDetail">
                    <div  th:if="${selectedMessage} != null">
                        <div class="row">
                            <div class="col-12">
                                <h5>
                                    <span th:text="${selectedMessage.object}"></span>
                                </h5>
                            </div>
                            <div class="col-1">
                                <span><i class="fa-solid fa-user fa-4x"></i></span>
                            </div>
                            <div class="col-11">
                                <div>
                                    <label><span class="text-secondary "> Date:</span> <span class="text-secondary " th:text="${selectedMessage?.date}"></span></label>
                                </div>
                                <div>
                                    <label><span class="text-secondary ">De:</span> <a  class="text-decoration-none" th:href="@{/messagerie/adresses/detail-user(id=${selectedMessage?.expediteurDto?.id})}"> <span  th:text="${selectedMessage?.expediteurDto?.id}"></span></a></label>
                                </div>

                                <div>
                                    <label> <span class="text-secondary ">A:</span> </label>
                                    <div class="d-inline" th:each="destinataire:${selectedMessage.destinataireDtoList}" >
                                        <a  class="text-decoration-none" th:href="@{/messagerie/adresses/detail-user(id=${destinataire.id})}" > <span th:text="${destinataire.id}">&nbsp;&nbsp;</span></a>
                                    </div>
                                </div>

                                <div class="row mt-3" th:if="${selectedMessage.fichierDtoList?.size()}>0">
                                    <span th:each="fichier:${selectedMessage.fichierDtoList}">
                                        <a th:href="@{/messagerie/messages/download(filePath=${fichier?.filepath})}">
                                            <span th:if="${fichier?.filetype=='ppt'}"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i></span>
                                            <span th:if="${fichier?.filetype=='pdf'}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
                                            <span th:if="${fichier?.filetype=='doc'}"><i class="fa fa-file-word-o" aria-hidden="true"></i></span>
                                            <span th:if="${fichier?.filetype=='jpg'}"><i class="fa fa-file-image-o" aria-hidden="true"></i></span>
                                            <span th:text="${fichier?.filename}"></span>
                                        </a>
                                    </span>    
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row mt-3">
                            <div id="mailContent">
                                <script th:inline="javascript">
                                    function textToHtml() {

                                        var mailContent = document.getElementById("mailContent");
                                                var body = [[${selectedMessage?.body}
                                                ]];
                                        mailContent.innerText = body;
                                    }
                                    function isHTML(str) {
                                        var a = document.createElement('div');
                                        var mailContent = document.getElementById("mailContent");
                                        a.innerHTML = str;

                                        for (var c = a.childNodes, i = c.length; i--; ) {
                                            if (c[i].nodeType == 1) {
                                                var htmlNode = document.createElement('div');
                                                htmlNode.innerHTML = c[i];
                                                mailContent.appendChild(htmlNode);
                                            } else {
                                                mailContent.appendChild(c[i]);
                                            }
                                        }
                                    }
                                    textToHtml();
                                </script>
                                <span th:text="${selectedMessage?.body}"></span>
                            </div>
                        </div>
                    </div>
                    <div th:unless="${selectedMessage} != null">
                        <span class="text-warning mt-5 ms-3">Aucun message selectionné !</span>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <footer th:replace="./layouts/main-layout :: footer"> </footer>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script>

            $('#exampleModal2').on('show.bs.modal', function () {

            });
        </script>

    </body>

</html>