<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:replace="./layouts/main-layout :: head"> </head>

    <body>
        <header th:replace="./layouts/header :: header"></header>
        <div class="container-fluid">
            <table  class="table table-striped table-bordered">
                <thead  class="table-secondary">
                     <tr>
                        <th>ADRESSE</th>
                        <th> NOM</th>
                        <th>PRENOM</th>
                         <th>NOMBRE DE MAIL ENVOYÉ</th>
                          <th>NOMBRE DE MAIL REÇU</th>
                        <th>FONCTION</th>
                        <th>TYPE</th>
                        <th style="min-width: 120px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user:${adresseDtoList}">
                        
                         <span th:if="${user.personneDto } != null ">
                             <td><a th:href="@{/messagerie/adresses/detail-user(id=${user.personneDto.id})}" th:text="${user.personneDto.id}"></a></td>
                            <td th:text="${user.personneDto.nom}"></td>
                            <td th:text="${user.personneDto.prenom}"> </td>
                                <td th:text="${user.nbMessageSent}"></td>
                                    <td th:text="${user.nbMessageReceived}"></td>
                            <td th:if="${user.personneDto.fonctionDtoList.size()}>0" th:text="${user.personneDto.fonctionDtoList[0]?.title}"></td>
                            <td th:unless="${user.personneDto.fonctionDtoList.size()}>0"></td>
                        
                            <td>Personne</td>
                            <td><a th:href="@{/messagerie/personne/modifier/{id}(id=${user.id})}" class="btn btn-warning"> <i class='fas fa-pen'></i></a>
                                <a class="btn btn-info" th:href="@{/messagerie/adresses/persToListe/{adr}(adr=${user.id})}"><i class='fas fa-sync' style='font-size:20px;'></i></a>
                                
                            </td>
                        </span>
                        <span th:unless="${user.personneDto} !=null">
                                   <td><a th:href="@{/messagerie/adresses/detail-user(id=${user.listeDto.id})}" th:text="${user.listeDto.id}"></a></td>  
                            <td></td>
                              <td></td>
                              <td th:text="${user.nbMessageSent}"></td>
                                    <td th:text="${user.nbMessageReceived}"></td>
                                    
                                <td></td>
                                
                                 <td>Liste</td>
                            <td>
                                <a><i>     </i></a>
                                <a class="btn btn-info" th:href="@{/messagerie/adresses/listeToPers/{adr}(adr=${user.id})}"><i class='fas fa-sync' style='font-size:20px;'></i></a>
                                
                            </td>
                        </span>
                    </tr>

                </tbody>

            </table>

        </div>
    </body>
</html>